h1 {
  font-size: .1em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  text-align: center;
  color: #094D92;
}

body {
  background-color: #68B684
}

.jumbotron {
  padding: 0.5em;
  background-color: #95E06C;
  color: #094D92;
  margin: 0 auto;
}

.hide {
  display: none;
}

/*Divs*/

#player1Div, #resultsDiv, #player2Div {
  width: 30%;
  height: 20em;
  display: inline-block;
  margin: .1em;
  border: 0.1em solid #1C1018;
  margin-top: 4em;
  position: relative;
}


/*Chat*/
#chatDiv {
  margin: 2em;
}

#nameDiv {
  margin: 20px auto;
  width: 100%;
  display: inline-block;
}

#nameForm {
  margin-left: 27%;
  margin-top: 5%;
}

.me{
  font-size: 14px;
  margin: -4px;
  border-right: 3px solid #60DF88 !important;
  padding: 5px;
  background-color: rgb(239, 255, 241);
}

.you{
  font-size: 14px;
  margin: -4px;
  border-left: 3px solid rgb(255, 112, 0) !important;
  padding: 5px;
  padding-left:10px;
  background-color: rgb(247, 247, 214);
}

.blue {
  color: #094D92;
}


.topNameDiv {
  width: 30%;
  height: 20em;
  margin: .1em;
  border: 0.1em solid #1C1018;
  margin-top: 4em;
}


#winLossP1Span {
  color: #094D92;
  position: absolute;
  bottom: 0;
  right: 6em;
}

#winLossP2Span {
  color: #094D92;
  position: absolute;
  bottom: 0;
  right: 6em;
}



.btn-success {
  margin: 5% 0 0 25%;
  width: 50%;
}